h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 84px;
  color: #FFFFFF;
}
h2 {
  font-style: normal; 
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  color: #374754;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #374754;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #374754;
}

p {
  text-align: center;
}

button {
  position: static;
  width: 145px;
  height: 56px;
  left: 50px;
  top: 561px;
}

li {
  list-style: none;
}
