// font
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
$Graphik: 'Graphik', sans-serif;

// background-img
$img: rgba(0,0,0,0.6) url("../images/bg.jpeg");

// colors
$dark: #252B42;
$light: #FFFFFF;
$primary: rgb(245, 245, 136);
$bg: rgb(244, 244, 255);
$btn: #2091F9; 
$textColor: #FFFFFF;
$inputBox: #F5F5F5;
$inputBorder: #E8E8E8;
$togglebg: rgb(231, 222, 222);

// border-radius:
$borderRadius: 32px;
